/* app css stylesheet */
.hoverwell:hover {
  background-color: #8e44ad;
  cursor: pointer;
}
.hoverwell {
  background-color: #3498db;
}
.navbar {
  background-color: #3498db;
}
.container {
  padding-top: 10px;
  background-color: #2980b9;
  color: white
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}
.btn-default {
  background-color: #8e44ad;
}
[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}
btn-primary {
  background-color: #2ecc71;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
    color: #ebebeb;
    background-color: #8e44ad;
}